@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC');

.App {
  padding: 1em;
}

label {
  display: inline-block;
  width: 100px;
}

header {
  font-family: "Playfair Display SC";
  font-size: 64px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* typography */

html {
  font-family: 'Moon Dance', cursive;
}

thead th, tfoot th {
  font-family: 'Moon Dance';
}

th {
  letter-spacing: 2px;
  padding: 10px;
  font-size: 25px;
}

td {
  letter-spacing: 1px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 50px;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

/* table */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.content_td p {
  max-width: 100%;
  max-height: 100px;
  overflow-y: auto;
  overflow-x: auto;
}


/* Column Size for thead */
thead:nth-child() {
  width: 10%;
  width: 10%;
  width: 10%;
  width: 30%;
  width: 30%;
  width: 10%;
}

/* Column size for tbody */
tbody:nth-child(odd) {
  background-color: antiquewhite;
}

img {
  object-fit: scale-down;
  height: 100%;
  width: 100%;

}